{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{employeeDetail.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="Name">Employee Name</label>
            <input id="Name" type="text" class="form-control" placeholder="Employee Name" name="Name" value="{{employeeDetail.Name}}">
        </div>
        <div class="col">
            <label for="Age">Age</label>
            <input id="Age" type="text" class="form-control" placeholder="Age"
                   name="Age" value="{{employeeDetail.Age}}">
        </div>
        <div class="col">
            <label for="Sex">Sex</label>
            <input id="Sex" type="text" class="form-control" placeholder="Sex" name="Sex" value="{{employeeDetail.Sex}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="Height_in">Height</label>
            <input id="Height_in" type="text" class="form-control" placeholder="Height_in" name="Height_in" value="{{employeeDetail.Height_in}}">
        </div>
        <div class="col">
            <label for="Weight_lbs">Weight</label>
            <input id="Weight_lbs" type="text" class="form-control" placeholder="Weight_lbs" name="Weight_lbs" value="{{employeeDetail.Weight_lbs}}">
        </div>
    </div>
<br/>
    <button type="submit" class="btn btn-success">Save</button>

</form>
{% endblock %}